
* { box-sizing:border-box;text-decoration:none;color:#000 }
body { font-size:16px;font-family:sans-serif;margin:0;padding:0;color:#0a0a0a;background-color:#ffffff;width:960px;max-width:100% }
nav { width:100%;padding:20px;display:inline-block;font-family: monospace; } 
nav img { float:left;margin-right:20px; }
nav ul { padding:5px;margin:0 5px 0 0;float:left;font-size:14px } 
nav ul li { list-style-type:none;white-space:pre } 
nav ul li a:hover { background:#0a0a0a;color:#ffffff } 
figure { margin:0;margin-bottom:10px }
figure img { margin:0;display:block;max-width:30%; }
figcaption { font-style:italic;color:#666666 }
header img { width:100%;max-width:100%; }
header figcaption { font-size:0.9em;margin:6px 0px 0px 8px; }
main { margin-bottom:30px;padding:0 20px;max-width:75%;clear:both;margin-left:auto;margin-right:auto;line-height:1.5em; }
main h1, main h2, main h3, main h4 { line-height:1.2em;margin-bottom:0.1em }
main h1 { font-weight:normal }
main h2 { margin-top:20px;text-transform:uppercase }
main h3 { text-transform:capitalize }
main sub { display:block;margin-bottom:1.2em;font-size:1em;font-style:italic;color:#666666 }
main p { max-width:620px; }
main a, footer a { text-decoration:underline } 
main a:hover, nav a:hover, footer a:hover { background-color:#0a0a0a;color:#FDF6E3 } 
main q { font-size:1.2em;font-style:italic;line-height:1.4em;;max-width:500px;display:block;margin:30px 0px 0px 10px; }
main cite { display:block;font-size:0.9em;margin-left:2.2em;margin-bottom:2em;color:#666666 }
main cite:before { content:"— " }
main table { width:100%;margin-bottom:10px;border:1px solid lightgray;border-spacing:0;text-align:left }
main table td { padding:2px 6px 2px 6px;border:1px solid lightgray;vertical-align:top }
main pre, main code { font-size:14px;background-color:lightgray; width: 150%; }
main pre { padding:8px;white-space:pre-wrap;word-wrap:break-word }
main pre table { margin:0 }
main pre table tr td:first-child { font-weight:bold }
main code { padding:4px; }
main article { white-space:pre-wrap;background-color:white;padding:16px }
footer { padding:0 20px }
footer img { width:1em;margin-bottom:-2px; }
footer section > * { display:inline-block;margin-right:5px; }
footer section img { width:30px;margin-bottom:-10px; }
.portal > ul { display:grid;grid-template-columns:repeat(auto-fit,minmax(calc(720px/2.5),1fr));grid-gap:1rem;list-style-type:none;width:calc(100vw/2); }
.portal > ul > li { padding-left:1em;border-left: 1px solid #E2E2E2; }
.portal > ul > li > figure > img { max-width:100%; }